.genreItem{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    box-sizing: border-box;
    width: 100%;
}
.genreLeftMenu h4 {
    color: goldenrod;
    margin: 5px;
}
.genreItem div:hover{
    cursor: pointer;
    width: 100%;
    box-shadow: 5px 5px 30px 7px rgb(0, 0, 0), -5px -5px 30px 7px rgb(0, 0, 0);
}