html, body {
    margin: 0;
    padding: 0;
}

.menu {
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    position: fixed;
    z-index: 3;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.menuBgLight {
    background-image: url('light.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.menuBgDark {
    background-image: url('dark.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.home a, .movies a {
    color: gold;
    font-size: 20px;
    text-decoration: none;
    font-weight: 600;
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;

}

.footer {
    min-height: 15px;
    background-color: #282c34;
    color: gold;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

.content {
    width: 95%;
    margin: 0 auto;
    height: calc(100vh - 122px);
    overflow: hidden;
    overflow-y: auto;
}

.home a[class='active'], .movies a[class='active'] {
    text-decoration: none;
    color: yellowgreen;
    font-weight: 700;
    font-size: 20px;
    text-shadow: 1px 1px 2px #161716, 0 0 1em #03f817, 0 0 0.2em #239612;
}

.searchInput {
    position: relative;
    width: 30%;
}

.userInfo {
    position: absolute;
    right: 70px;
}

.switchTheme {
    margin-left: 50px;
}
