.actorCard {
    display: flex;
    height: 250px;
    max-width: 18%;
    background-color: #17141d;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
    transition: 0.4s ease-out;
    position: relative;
    left: -40px;
}

.actorCard:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
}

.actorCard:hover ~ .actorCard {
    position: relative;
    transition: 0.4s ease-out;
}

.title {
    color: white;
    font-weight: 300;
    position: absolute;
    left: 20px;
    top: 15px;
}

.actorPoster {
    position: relative;
    top: 60px;
}

.actorPoster img {
    fill: #17141d;
    width: 80%;
    max-height: 220px;
    border-radius: 5px;
}

@media screen and (max-width: 1400px) {
    .actorCard {
        width: 270px;
    }
}

@media screen and (max-width: 1200px) {
    .actorCard {
        width: 30vmin;
    }
}

@media screen and (max-width: 992px) {
    .actorCard {
        width: 45vmin;
    }

    .actorCard:first-child {
        /*margin-left: -50px;*/
    }
}

@media screen and (max-width: 768px) {
    .actorCard {
        width: 60vmin;
    }
}