.styleFooter {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    column-gap: 50px;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 20px;

    margin: 0;
    padding: 0;
}

.data {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 45%;
}

.data ul{
    position: absolute;
    display: flex;
    transform: translate(-50%, -50%);
}
.data ul li {
    list-style: none;
    letter-spacing: 15px;
    font-size: 22px;
    font-family: "Rage Italic", sans-serif;
    color: #484848;
    animation: ani 1.2s linear infinite;
}
.data ul li:nth-child(1) {
    animation-delay: 0.2s;
}
.data ul li:nth-child(2) {
    animation-delay: 0.6s;
}
.data ul li:nth-child(3) {
    animation-delay: 0.8s;
}
.data ul li:nth-child(4) {
    animation-delay: 1s;
}
.data ul li:nth-child(5) {
    animation-delay: 1.4s;
}
.data ul li:nth-child(6) {
    animation-delay: 1.8s;
}
.data ul li:nth-child(7) {
    animation-delay: 1.12s;
}
@keyframes
ani {
    0% {
        color: rgba(16, 166, 28, 0.27);
        text-shadow: none;
    }
    90% {
        color: rgba(209, 36, 248, 0.27);
        text-shadow: none;
    }
    100% {
        color: #fff900;
        text-shadow: 0 0 7px #fff900, 0 0 70px #fff123;
    }
}


.social a, .socialDark a {
    text-decoration: none;
}
.socialDark a:hover, .social a:hover{
    transform: scale(0.85, 0.85);
    border-radius: 15px;
}
.social a:nth-last-child(1) {
    color: #0f2260;
}
.social a:nth-last-child(2) {
    color: #0f2260;
}
.social a:nth-last-child(3) {
    color: #0f2260;
}

.social i, .socialDark i {
    font-size: 40px;
    font-weight: 400;
}

.social, .socialDark {
    width: 45%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.socialDark a:nth-last-child(1) {
    color: #0d82c0;
}
.socialDark a:nth-last-child(2) {
    color: #0d82c0;
}
.socialDark a:nth-last-child(3) {
    color: #fff;
}
