body {
    font-family: 'Share Tech', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: auto;
    min-height: 100vh;
    text-shadow: 8px 8px 10px #0000008c;
}