@keyframes move-background {
    from {
        transform: translate3d(0px, 0px, 0px);
    }
    to {
        transform: translate3d(1000px, 0px, 0px);
    }
}

@-webkit-keyframes move-background {
    from {
        transform: translate3d(0px, 0px, 0px);
    }
    to {
        transform: translate3d(1000px, 0px, 0px);
    }
}

@-moz-keyframes move-background {
    from {
        transform: translate3d(0px, 0px, 0px);
    }
    to {
        transform: translate3d(1000px, 0px, 0px);
    }
}

@-webkit-keyframes move-background {
    from {
        transform: translate3d(0px, 0px, 0px);
    }
    to {
        transform: translate3d(1000px, 0px, 0px);
    }
}

.background_container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.stars {
    background: black url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png') repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    z-index: 0;
}

.twinkling {
    width: 10000px;
    height: 100%;
    background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
    background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    -moz-animation: move-background 70s linear infinite;
    -ms-animation: move-background 70s linear infinite;
    -o-animation: move-background 70s linear infinite;
    -webkit-animation: move-background 70s linear infinite;
    animation: move-background 70s linear infinite;
}

.clouds {
    width: 10000px;
    height: 100%;
    background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/clouds_repeat.png") repeat;
    background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;
    -moz-animation: move-background 150s linear infinite;
    -ms-animation: move-background 150s linear infinite;
    -o-animation: move-background 150s linear infinite;
    -webkit-animation: move-background 150s linear infinite;
    animation: move-background 150s linear infinite;
}

.homePage{
    max-width: 1900px;

}
.homePage img {
    position: absolute;
    right: 20px;
}

.homePageLight {
    margin: 0;
    padding: 0;
    height: Calc(100vh - 60px);
    width: 100vw;
    /*z-index: 2;*/
    background-image: url('main.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.textDescribe {
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    line-height: 24px;
    width: 49%;
    max-width: 1900px;
    position: absolute;
    text-align: justify;
    top: 120px;
    font-weight: 500;
}

.textDescribeLight {
    color: #e74c3c;
    right: 40px;
}

.textDescribeDark {
    color: gold;
    left: 100px;
}

@media screen and (max-width: 1200px) {
    .textDescribe {
        width: 70%;
    }
}

@media screen and (max-width: 768px) {
    .textDescribe {
        width: 80%;
        font-size: 16px;
        line-height: 20px;
    }
    .textDescribeDark {
        left: 50px;
    }
}
@media screen and (max-width: 576px) {
    .textDescribe {
        width: 80%;
        font-size: 12px;
        line-height: 16px;
        top: 70px;
    }
    .textDescribeDark {
        left: 20px;
    }
}